*.db.*
__pycache__/
.nextflow*
*.pyc
work/
*~
*.out
*.db
jsons/
bin/neuroner/model/dataset.pickle
nextflow
data/word_vectors/
bin/neuroner/test_folder/test_compatible_with_brat.txt
bin/neuroner/test_folder/test/
data/
output/
out_pos_jsons/
pos_jsons/
*.csv
*.json
violent_model.pickle
