*.db.*
__pycache__/
.nextflow*
*.pyc
work/
*~
*.out
*.db
jsons/
bin/neuroner/model/dataset.pickle
nextflow
data/word_vectors/
bin/neuroner/test_folder/test_compatible_with_brat.txt
bin/neuroner/test_folder/test/
data/
output/
out_pos_jsons/
pos_jsons/
*.csv
*.json
violent_model.pickle
*.conf
bin/scripts/*.txt
bin/scripts/*.json
*.zip
.ipynb_checkpoints
**/.ipynb_checkpoints/
bin/scripts/database_correlation/graphs/*
bin/scripts/database_correlation/create_graph.py
.gitignore
