# Main
pandas==0.22.0
requests==2.21.0
Flask==0.12.2
Flask-RESTful==0.3.6
nltk==3.3

# Extract + Preprocess
fuzzywuzzy==0.16.0
jusText==2.2.0
lxml==4.2.0

# Classifier
torch==1.1.0
scikit-learn==0.19.1
scipy==1.3.0

# DCT
wapiti3==3.0.1

# Place Tagger
geograpy3==0.1.2
geopy==1.20.0
newspaper3k==0.2.8

#neuroner 
pyneuroner[cpu]==1.0.7